<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  Shopping Cart
                </h5>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                  <span class="glyphicon glyphicon-share-alt"></span> Continue
                  Shopping
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="productsList.length === 0" class="no-items">
          <h1>Your Shopping Cart is empty</h1>
          <h6>
            Your Shopping Cart lives to serve. Give it purpose — fill it with
            clothing, and more.
          </h6>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-9 text-center">
              <div class="panel-body" *ngFor="let product of productsList">
                <div id="productDiv" *ngIf="added" class="row">
                  <div class="col-md-6">
                    <img class="img-fluid" src="{{ product.imgUrl }}" />
                  </div>
                  <div class="col-md-6">
                    <h4 class="product-name">
                      <strong>{{ product.name }}</strong>
                    </h4>
                    <h4>
                      <small>{{ product.description }}</small>
                    </h4>
                    <h5>Price</h5>
                    <h4 ng-value="price">
                      <strong>${{ product.price }}.00 </strong>
                    </h4>

                    <div class="input-group input-group-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Qty:</span>
                        <input
                          ngModel
                          name="item"
                          #item="ngModel"
                          (change)="handleChange(item, product)"
                          type="number"
                          class="form-control"
                          value="{{ product.qty }}"
                          placeholder="{{ product.qty }}"
                        />
                      </div>
                    </div>

                    <button
                      (click)="deleteItem(product)"
                      type="button"
                      class="btn btn-link btn-xs"
                    >
                      <span class="glyphicon glyphicon-trash"> </span>
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="productsList.length != 0"
              id="checkout-box"
              class="col-md-3"
            >
              <div class="panel-body">
                <div class="col-md-12">
                  <h3 class="text-center">Cart</h3>
                  <h4 class="text-center">
                    Subtotal ({{ qty }} Items): <strong>${{ total }}.00</strong>
                  </h4>
                </div>

                <div class="row text-center">
                  <div class="col-xs-12">
                    <button
                      routerLink="checkout"
                      type="button"
                      class="btn btn-success btn-lg btn-block"
                    >
                      Proceed to checkout
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
